
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root
{
  width: inherit;
  height: inherit;  
}
 #mapUI 
{
  height: inherit;
  width: inherit; 
  padding-top: 55px;  
}

#map  {  
  width: inherit;
  height: inherit; 
  position: relative;
}
#pointcontainer {
  width: inherit;
  height: inherit; 
  padding-top: 65px;  
  padding-left:40px;
  padding-right:40px;
}

#point-previous {
  position: absolute;
  left:0px;
  top: 50%;
}

#point-next {
  position: absolute;
  right:0px;
  top: 50%;

}

.mymenuback {
  position: absolute;
  top:0px;
  background-color: black;
  height:55px;
  width: 100%;
  z-index: 99999; 
}
.mymenu { 
 
  width: 100%;
  height:55px;
  z-index: 999; 
}
.filterSubwayLines {
  z-index: 999; 
  font-family: sans-serif;
  font-size: 13px;
  border-radius: 5px;
}
.filterSubwayLines_ {
  position: absolute;
  top: 00px;
  z-index: 999;
  width: 300px;
  height: auto;
  background: hsla(0,100%,100%,0.8);
  margin: 10px;
  font-family: sans-serif;
  font-size: 13px;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
}
.filterSubwayLines hr {
  border: 1px solid #000;
  margin: 5px;
}
.filterSubwayLines h3 {
  margin-top: 0;
  padding-left: 5px;
}
.filterSubwayLines p {
  padding-left: 5px;
}

.filterSubwayLines select {
  display: block;
  margin: 0 auto;
}

.pointer{
  color:#5d5d5d;
  position:absolute;
  top: 86px;
    left:60px;
  z-index:99999;
}


.geocoder-control-input {
  background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");
}
